# Fundamentals of Data Analysis


## Background to the dataset






### Who created it


The four datasets that are the subject of this assignment were created by english statistician Francis John "Frank" Anscombe (1) and introduced in his 1973 paper "Graphs in Statistical Analysis". Anscombe felt that textbooks on statistical methods and statistical programs paid too little attention to graphs. He felt that "we" (presumably the statistical/computing profession of his day) were indoctrinated with the notions that:

1. Whereas numerical calculations are exact, graphs are rough
2. For any particular set of data, there is only one set of calculations that constitute a correct statistical analysis.
3. Performing intricate calculations is virtous, whereas looking the data is cheating

(Anscobme, 1973, p1)

By contrast, Anscombe felt that both calculations and graphs should be utilised as both would contribute to understanding. Anscombe therefore developed the dataset to demonstrate the importance of visualising data before analyzing the data according to a particular type of relationship. It may also be used to demonstrate the inadequacy of basic statistic properties for describing realistic datasets (3)
 

### How it might have been created

## Plotting interesting aspects of the dataset

In [13]:
# first import the libraries we will use in this analysis


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# import the datasets as a data frame and print
df = pd.read_csv('Anscombe Datasets 1 - 4.csv')

df

    x1     y1  x2    y2  x3     y3  x4     y4
0   10   8.04  10  9.14  10   7.46   8   6.58
1    8   6.95   8  8.14   8   6.77   8   5.76
2   13   7.58  13  8.74  13  12.74   8   7.71
3    9   8.81   9  8.77   9   7.11   8   8.84
4   11   8.33  11  9.26  11   7.81   8   8.47
5   14   9.96  14  8.10  14   8.84   8   7.04
6    6   7.24   6  6.13   6   6.08   8   5.25
7    4   4.26   4  3.10   4   5.39  19  12.50
8   12  10.84  12  9.13  12   8.15   8   5.56
9    7   4.82   7  7.26   7   6.42   8   7.91
10   5   5.68   5  4.74   5   5.73   8   6.89

In [24]:
# Create 4 tuples of two pandas lists, each of which will represent 1 of the 4 datasets in the form (x,y)


Anscombe1 = (df['x1'],df['y1'])
Anscombe2 = (df['x2'],df['y2'])
Anscombe3 = (df['x3'],df['y3'])
Anscombe4 = (df['x4'],df['y4'])

# This may not be necessary!

## Calculating the descriptive statistics of the dataset

In [ ]:
# calcualate summary descriptions using pandas or numpy

## With reference to the statistics and plots above, why is this dataset interesting

Commentry, refering to Anscombes purpose in creating the dataset.

## References
1. "Frank Anscombe", Wikipedia, https://en.wikipedia.org/wiki/Frank_Anscombe (accessed 02/11/2018)
2. Anscombe, F.J., "Graphs in Statistical Analysis" , The American Statistician, Vol. 27, No. 1. (Feb., 1973), pp. 17-21. (copy available from JSTOR: http://links.jstor.org/sici?sici=0003-1305%28197302%2927%3A1%3C17%3AGISA%3E2.0.CO%3B2-J accessed 02/11/2018)
The American Statistician, Vol. 27, No. 1. (Feb., 1973), pp. 17-21
3. "Anscombe's quartet", Wikipedia, https://en.wikipedia.org/wiki/Anscombe%27s_quartet (accessed 02/11/2018)